<section class="card-body">
  <p class="px-4 py-2 rounded bg-gray-200">
    No advisories are currently available. This could be for a variety of reasons, including how the US Department of State categorizes and releases travel advisories. We are working to expand the sources of our travel advisories and country coverage.
  </p>
</section>
