<div class="flex flex-col text-center my-24 items-center">
  <h1 class="tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
    <span>Travel advisories,</span><br>
    <span class="text-amber-700">global and updated daily.</span>
  </h1>

  <p class="mt-5 mb-10 m-auto max-w-3xl text-gray-500 sm:text-lg md:text-xl">advisory.travel collects travel advisories for nearly every country in the world. We continuously update our advisories so that you always have the latest information available.</p>

  <section class="flex flex-col gap-3 md:flex-row md:gap-6 items-center justify-items-between">
    <%= link_to "All Countries", countries_path, class: "btn" %>
    <section>
      <label class="hidden" for="country_selector">Select a Country</label>
      <select class="btn btn-outline max-w-xs md:max-w-sm" id="country_selector" onchange="const elem = document.getElementById('country_selector'); window.location = (elem.value);">
        <option>Select a Country</option>
        <% @countries.order(name: :asc).each do |country| %>
          <option id="country" value="<%= country_path(country.alpha2) %>"><%= country.name %> <%= get_emoji_flag(country.alpha2) %></option>
        <% end %>
      </select>
    </section>
  </section>
</div>
