<div class="text-center my-24">
  <h1 class="tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
    <span>Travisor</span><br>
    <span class="text-indigo-600">Your travel companion!</span>
  </h1>

  <p class="mt-5 mb-10 text-gray-500 sm:text-lg md:text-xl">Description.</p>

  <a href="#" class="btn">Get started</a>
  <a href="#" class="btn btn-outline ml-4">Explore app</a>
</div>
