<div class="card my-4">
  <p class="card-subtitle">
  </p>

  <h1 class="card-title">Advisory Map</h1>

  <div class="card-body">
    <div id="map"
      class="h-72 w-full"
      data-show-map="true"
      data-world-advisory-map="true"
      data-country-geo-data="<%= asset_path '/map_data/countries.ldgeojson' %>">
    </div>
  </div>
</div>
