<section class="card my-4 md:col-span-2">
  <% @advisories.each do |advisory| %>
    <div class="card-title">
      <h2>Travel Advisory</h2>
      <span class="p-2 rounded font-semibold <%= advisory_level_color(advisory) %>"><%= advisory_level_name(advisory) %></span>
    </div>
    <div class="card-subtitle">
      <p>Issued <%= time_ago(advisory.pub_date) %></p>
      <hr />
    </div>
    <div class="prose list-dot list-inside">
      <%== advisory.body %>
    </div>
  <% end %>
</section>
