<div class="card my-4">
  <p class="card-subtitle">
  </p>

  <h1 class="card-title"><%= @country_info.emoji_flag %> <%= @country.name %></h1>

  <div class="card-body">
    <dl>
      <dt class="font-semibold">Capitol</dt>
      <dd>Bamako</dd>

      <dt class="font-semibold mt-2">Currency</dt>
      <dd>$USD - United States Dollar</dd>
    </dl>
  </div>

  <div class="card-actions">

  </div>
</div>
