body {
  @apply bg-gray-100 leading-relaxed;
}

h1 {
  @apply text-4xl font-bold mt-2 my-4;
}

h2 {
  @apply text-3xl font-bold mt-2 my-4;
}

h3 {
  @apply text-2xl font-bold my-2;
}

p {
  @apply mt-2 mb-3;
}

a {
  @apply text-amber-700 outline-none;
}

img {
  display: inline-block;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal;
}
